body {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}  

.navbar {
  background-color: #eaf7f6;
  padding: 1px;
}

.navbar-header {
  display: flex;
  align-items: center;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav {
  list-style: none;
}

.navbar-nav .navbar-btn {
  margin: 5px 0;
}

.navbar a {
  font-size: 18px;
  font-weight: bold;
  text-shadow:
    2px 2px 5px black,
    0 0 1em blue,
    0 0 0.2em blue;
  color: white;
}


section.banner {
	position: relative;
	min-height: 768px;
	background-image: url('../images/bg.png');
	width: 100%;
	background-size: cover;
	background-position: top;
}

.overlay {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	background: rgba(12, 7, 140, 0.2);

}

section.banner p {
	font-size: 25px; 
	font-weight: 500;
	text-shadow:
    2px 2px 8px white,
    0 0 2em white,
    0 0 0.4em white;
  color: #fff;
}



.chamada-banner{
	position: relative;
	top: 468px;
	
}

.chamada-banner h2{
	color: purple;
	font-size: 50px;
	font-weight: bold;
}

.chamada-banner p{
	color: white;
	font-size: 21px;
	font-weight: 100;
}

.chamada-banner a {
    display: inline-block;
    color: white;
    font-size: 15px;
    padding: 10px 15px;
    background: #023e8a;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.chamada-banner a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(157,140,255,0) 70%);
    transform: translate(-50%, -50%);
    transition: opacity 0.6s, transform 0.6s;
    opacity: 0;
}

.chamada-banner a:hover::before {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}    


section.cadastro-lead {
	background: #9b5de5;
	padding: 2px 0;
} 

section.cadastro-lead h2{
	color: white;
	font-size: 18px;
	position: relative;	
	top: -4px;
	left: 386px;
}

section.cadastro-lead input[type=text]{
	width: 45%;
	height: 30px;
	border: 2px solid #FFF;
	position: relative;
	top: 12px;
}

section.cadastro-lead input[type=submit]{
	background: #9d8cff;
	width: 15%;
	height: 30px;
	border: 2px solid #FFF;
	position: relative;
	top: 11px;
}

section.depoimento {
	padding: 20px;
	background: #fff;
}

section.depoimento h2{
	color: #03045e;
	font-size: 40px;
}

section.depoimento h3 {
	font-size: 25px;
}

section.depoimento blockquote{
	color: #4b4b4b;
	font-size: 16px;
	font-style: italic;
}

section.sobre {
	background: #eaf7f6;
	position: relative;
	text-align: center;
	background-image: url('../images/blob.jpeg');
  	background-size: 70%;
  	background-repeat: no-repeat;
  	background-position: right;
	
}

section.sobre img {
	width: 80%; /* Para ocupar 60% horizontalmente */
	max-width: 90%;
	height: auto;
	position: relative;
	margin-top: -1%; /* Invade a section acima */
	margin-bottom: -5%; /* Invade a section abaixo */
	right: 0; /* Encosta a imagem no lado direito */
}

section.sobre .quadro {
	position: relative;
	padding: 10px 20px;
	background: rgba(157, 140, 255, 0.7);
	border-radius: 30px;
	margin-bottom: 30px;
	margin-left: 90px;
}

section.sobre h2 {
	padding: 45px 10px;
	margin-top: 0;
	font-size: 40px;
	font-weight: bold;
	color: #03045e;
  
}

section.sobre h3 {
  	color: #03045e;
  	font-size: 30px;
}

section.sobre p {
	
  	/*color: #eaf7f6;*/
  	font-size: 16px;
  	font-weight: 400;
  	text-shadow:
    2px 2px 1.8px black,
    0 0 1em blue,
    0 0 0.2em blue;
    color: #eaf7f6;
  	/*-webkit-text-stroke: 0.8px black;*/
}

/* Ajustes para toda a seção */
section.services {
  	padding: 30px 10px;
  	background: rgba(6, 0, 46, 255);
  	color: #1c1e4c;
}

/* Estilização do título principal */
section.services h2 {
  color: white;
  font-size: 40px;
}

/* Ajusta a largura da seção e adiciona margem lateral fixa */
.services-container {
		padding-top: 20px;
  	margin-left: 1%;
  	margin-right: 1%;
}

.services-container h3 {
	color: #fff;
}

.services-container h2{
	color: #1c1e4c;
	/*font-size: 2em;*/
  	margin-bottom: 30px;
}

.services-container h2 {
  color: #1c1e4c;
  /*font-size: 2em;*/
  margin-bottom: 30px;
}


/* Estilização das colunas */
section.services .col-md-4 {
  background: linear-gradient(25deg, rgba(2, 0, 36, 1) -30%, rgba(160, 136, 245, 1) 38%, rgba(0, 212, 255, 1) 100%);
  border: 5px solid rgba(6, 0, 46, 255);
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding: 16px;
  text-align: center;
  /*margin: 0.1%; /* Espaço entre as colunas */
  max-width: 50%; /* Garante que cada coluna ocupe até o máximo de seu espaço */
  min-height: 290px;
}

/* Estilo do subtítulo dentro das colunas */
section.services .col-md-4 h2 {
  	font-size: 30px;
  	color: #1c1e4c;
}

section.equipe {
	background: #eaf7f6;
	color: #1c1e4c;
	font-size: 18px;
	font-weight: 400;
}

section.equipe .equipe-texto {
	padding: 10px 0;
	font-size: 18px;
}


section.equipe h2{
	font-size: 40px;
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 25px;
}

section.equipe h3,h4 {
	font-weight: bold;
}

.equipe-container {
	padding-bottom: 30px;

}

section.equipe .equipe-single {
	width: 100%;
	padding: 10px 10px;
	margin-top: 10px;
	border: 3px solid rgba(6,0,46,255);
	border-radius: 20px;
	-webkit-box-shadow: 10px 14px 5px -4px rgba(6,0,46,0.80);
	text-align: center;
	background: #fff;
}

.user-picture {
	width: 100%;
	padding-top: 100%;
	background: #ccc;
	border-radius: 50%;
}

.avatar1 {
	background-image: url('../images/Samuel.jpeg');
	background-size: cover;
}

.avatar2 {
	background-image: url('../images/Ewald.png');
	background-size: cover;
}

.avatar3 {
	background-image: url('../images/Marcela.png');
	background-size: cover;
}

section.formulario{
	padding: 30px 0;
	background: rgba(6,0,46,255);
	color: #FFF;
	font-size: 16px;
	font-weight: 100;
}

section.formulario textarea {
	resize: none;
	height: 120px;
}

section.formulario button {
	margin: 0 auto;
}




footer {
	background: #9d8cff;
	padding: 10px 0;
	color: #1c1e4c;
	font-size: 13px;
}


@media (max-width: 1024px) { 

	.navbar-nav { 
		flex-direction: column; /* Coluna para dispositivos menores */ 
		align-items: flex-start; /* Alinha itens à esquerda */ 
	} .navbar-nav 

	.navbar-btn { 
		margin: 5px 0; /* Espaçamento entre botões */ 
	} 

	/*section.banner { 
		background-size: auto; 
	} */

	.user-picture { 
		width: 50%; 
		padding-top: 50%; 
		margin: 0 auto; 
	} 
		section.cadastro-lead h2 {
		margin: 0 auto;
		left: 90px;
	}

	section.cadastro-lead input {
		left: 95px;
		text-align: center;
	}

	/*section.banner {
		min-height: 768px;
		width: 100%;
		background-size:cover;
	}*/
}	

/* Custom media query for responsive behavior */
@media (max-width: 768px) {

	.navbar-toggle {
  	background-color: #ffffff; /* Cor de fundo do botão */
  	border-color: #ddd; /* Cor da borda do botão */
	}

	.navbar-toggle .icon-bar {
  	background-color: #333; /* Cor das barras do ícone */
	}

	.navbar-toggle:focus, .navbar-toggle:hover {
  	background-color: #eaf7f6; /* Cor de fundo quando focado ou em hover */
	}

	.navbar-collapse {
    flex-direction: column;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .navbar-nav .navbar-btn {
    width: 100%;
    margin: 5px 0;
  }

  section.banner {
		background-size:100%;
		background-repeat: no-repeat;
		min-height: 380px;
	}

	.overlay {
		width: auto;
		height: auto;
		position: relative;
	}

	.chamada-banner {
		top: 233px;
	}

	section.cadastro-lead {
		padding: 25px 0;
	}

	section.cadastro-lead .container {
    justify-content: center; /* Centraliza horizontalmente */
  	align-items: center;     /* Centraliza verticalmente */
  }

  section.sobre .row {
  	margin: 0 auto;
  }

  section.sobre .quadro {
  	margin-left: 10px;
  	margin-right: 50px;
  }

  section.sobre img {
    background-size: auto;
    margin-top: -5%;
    margin-bottom: -5%;
  }


  
  /*section.services {
  	align-items: center;
  }

  section.services .col-md-4 {
  	font-size: 15px;
  }

  section.services .col-md-4 h2 {
  	font-size: 17px;
  }
 
  */
}


	
